<a href="https://colab.research.google.com/github/Gurjeetsingh07/machine-learning/blob/main/list%2Ccomp_3rd_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print number divisible by 2 in list
list=[1,2,3,4,5,6,7,8,9,10]
for i in list:
  if(i%2==0):
     {
      print(i)
     }

In [ ]:
#print all the numbers >=50 and <=100 for some range 1-1000 
for i in range(1,1001) :
    if i>=50 and i<=100 :
     print(i)

In [ ]:
#print the table of 5 from 1 to 30
for i in range(1,31):
  print(5*i)

In [ ]:
#count all the vowels present in the string " i love csit"
string="i love the csit department"
j=[]
for i in string:
  if(i in['a','e','i','o','u']):
      j.append(i)
print(j)

['i', 'o', 'e', 'e', 'i', 'e', 'a', 'e']

In [ ]:
#print all the keys in lowercase if the value is >= 3000
dict1={'maruti':100,'suv':200,'audi':3000,'baleno':4000,'ford':3000}
for i in dict1:
  if dict1[i]>3000:
    print(i.lower())

In [ ]:
#for some range b/w 1-1000 print even if the number is even if odd print odd
count=['even' if i%2==0 else 'odd' for i in range(1,1001)]
print(count)

In [ ]:
()